.hero-container {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    margin-right: 32px;
    margin-left: 32px;
}

.hero-intro {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.text > :nth-child(1) {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}
.text > :nth-child(2) {
    color: #657aff;
    font-weight: bold;
    font-size: 3rem;
}
.text > :nth-child(3) {
    color: white;
    font-weight: 100;
    font-size: 16px;
    margin-top: 10px;
}

.resume {
    box-shadow: 1px 11px 39px rgba(92, 114, 255, 0.61);
    width: 8rem;
    align-items: center;
}

.hero-image {
    flex: 1;
    position: relative;
}

.hero-image > * {
    position: absolute;
    z-index: 1;
}
.hero-image > :nth-child(1) {
    transform: scale(0.67);
    left: -3rem;
    top: -10.6rem;
    width: 640px;
    height: 680px;
}
.hero-image > :nth-child(2) {
    transform: scale(0.69);
    left: -15;
    top: -9%;
}
