.App {
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    background-color: #090b1b;
    color: white;
}

.button {
    border: 2px solid #657aff;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 11px 20px 11px 20px;
    background-color: #657aff;
}

.button:hover {
    background: #090b1b;
    cursor: pointer;
    color: white;
    border: 2px solid #657aff;
}
